*{
    box-sizing: border-box;
     padding: 0;
     margin: 0; 
}
body{
    background-color: rgba(239, 245, 201, 0.957);
   
}
#heading{
    background-color: rgb(229, 32, 32);
    font-size: 1.9rem;
    font-family: cursive;
    position: relative;
    padding: 10px;
    color:white;
}

#information{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
#info select{
    position: relative;
    top: 1.5rem;
}
form {
    grid-template-columns: 10rem 10rem 12rem;
    text-align: center;
    position: relative;
    top: 2rem;
}
.card > h3 {
    padding: 10px;
    color: #fff;
}

form>:nth-child(4){
    position: relative;
    left: 50%;
}
form>:nth-child(5){
    position: relative;
    left: 50%;
}


input{
    margin: 10px 10px;
    font-weight: 500;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    width: 11rem;
    /* padding: 0.5rem; */
    border: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
}
select {
    margin: 0 10px;
    height: 3rem;
    width: 159px;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
}
#display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;
   
    
}
#sub{
     position: relative;
    bottom: -50px;
    
    background-color: rgb(248, 64, 64);
    font-size: 20px;
    color: white;
    border: none;
    width: 12rem;
    height: 3.3rem;
    border-radius: 25px;
    cursor: pointer;

}
.meals {
    height: 30rem;
    margin: 30px 20px;
}


#a{
    text-align: center;
    background-color: rgb(181, 255, 233);
    width: 60%;
    position: relative;
    left: 20%;
}

.card {
    background-color: rgba(237, 25, 25, 0.866);
    border-radius: 8px;
   
    text-align: center;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 4px 4px 6px -1px rgb(176, 127, 127);
}


img{
    width: 300px;
    height: auto;
    object-fit: cover;
}

.details{
    text-align: center;
    font-size: 1.5rem;
    width: 300px;
    height: auto;
    object-fit: cover;
}

 h4{
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 13, 0, 0.5);
    color: white; 
} 

h5{
    padding: 10px;
    text-align: center;
    background-color: rgb(249, 249, 247);
}
#recipe{
    font-size: larger;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(237, 239, 237);
    margin: 0 auto;
}

#recipi-container{
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-top: 90px;
   
}



#recipe_detail{
    width: 50%;
    height: auto ;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    overflow: auto;
    
    padding: 10px;
    
}
#ingredients_detail{
    
    width: 50%;
    overflow: auto;
    height: auto ;
    background-color: white;
    
    transition: 0.3s;
    margin: 30px;
    text-align: center;
    
}

#ingredients_detail p{
    margin:  20px 0;
}
#recipe_detail li{
    margin: 20px 0;
}


    .info {
        width: 100%;
        object-fit: contain;
    }
      #display{
        display: flex;
        flex-direction: column;
       
    }  
    .info {
        margin-left: 74px;
        grid-template-columns: 10rem 10rem 12rem;
    }
    
    #recipi-container{
        display: flex;
        flex-direction: column;
       
       
    }
    form {
        position: relative;
        top: -1rem;
    }
 
